In [14]:
import pandas as pd
import numpy as np

### **Here I have made various assumptions,**
* Considered 5 cameras/Sensors named : A , B , C , D , E
* Random values of X and Y co-ordinates are generated. 
* Three Uinque ID's considered 
    * 126 : Object 1
    * 348 : Object 2 
    * 0 : Unknown Object
* Ids are the Local Id and unique Id is the Global Id

In [45]:
np.random.seed(2024)
timestamps = np.repeat(np.arange(1, 5), 5)
x_positions = np.random.uniform(0, 100, 20)
y_positions = np.random.uniform(0, 100, 20)
unique_ids = np.random.choice([0, 126, 348], 20)
sensor_ids = np.tile(['A', 'B', 'C', 'D', 'E'], 4)
ids = np.arange(1, 21)

In [46]:
created_data = pd.DataFrame({
     'timestamp': timestamps,
    'id': ids,
    'x_position': x_positions,
     'y_position': y_positions,
    'unique_id': unique_ids,
    'sensor_id': sensor_ids})

In [47]:
created_data

    timestamp  id  x_position  y_position  unique_id sensor_id
0           1   1   93.352391   80.996056        126         A
1           1   2   13.385339   42.089827        126         B
2           1   3   32.250739   80.710509        348         C
3           1   4   12.592112    6.673242        348         D
4           1   5   30.227652   68.301050        126         E
5           2   6   26.601653   92.354588          0         A
6           2   7   90.365384   29.860966          0         B
7           2   8    5.565432   46.160197        348         C
8           2   9   64.853502   29.392658          0         D
9           2  10   19.127350   41.943065          0         E
10          3  11   46.994529   54.375614        126         A
11          3  12   46.299308   70.165168        348         B
12          3  13   41.159338   12.632981          0         C
13          3  14   68.884323    4.199026        348         D
14          3  15   26.885382   15.299364        348         E
15          4  16   35.419351    3.345961        348         A
16          4  17    1.350298   59.822376        126         B
17          4  18    1.306553   76.547122          0         C
18          4  19   65.212586   58.379344        126         D
19          4  20   61.516817   45.646041          0         E

In [48]:
created_data.to_csv('created_data.csv', index=False)